body {
    background-color: gainsboro;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4E464C;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 10px;
}

nav ul li select {
    padding: 5px 10px;
}

footer {
    background-color: #4E464C;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------- ACCUEIL PAGE ---------- */

#main_acc {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#banniere_acc {
    padding-top: 5rem;
}

#sous_banniere_acc {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12rem;
    background-color: white;
}

#sous_banniere_acc div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#tendance {
    padding-top: 3rem;
    padding-bottom: 5rem;
    h2 {
        margin-left: 5rem;
    }
}

#banniere_tendance {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-evenly;
    button{
        display: flex;
        flex-direction: column;
        img {
            max-width: 100%;
            width: 28rem;
            height: 16rem;
        }
    }
}

/* ---------- SEARCH PAGE ---------- */

#list_tl_search {
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding-bottom: 10rem;
    button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            max-width: 100%;
            width: 28rem;
            height: 16rem;
        }
    }
}

@media (min-width: 720px) {
  #list_tl_search { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1280px) {
  #list_tl_search { grid-template-columns: repeat(3, 1fr); }
}

#div_input_search {
    padding: 2rem;
    align-items: center;
}

#input_search {
    width: 100%;
    height: 2rem;
}

/* ---------- PAGE TIERLIST ---------- */

.display-tierlist {
    max-width: 1104px;
    margin: 0 auto;
    border-top: 2px solid #4E464C;
    border-left: 2px solid #4E464C;
    border-right: 2px solid #4E464C;
}

.tier-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(128px, auto);
}

.tier {
    grid-column: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    border-right: 2px solid #4E464C;
    border-bottom: 2px solid #4E464C;
}

.ranked_items{
    grid-column: 2/7;
    border-bottom: 2px solid #4E464C;
    img {
        max-width: 100px;
    }
}

.array_ranked_items{
            min-height: 128px;
            max-width: 1076px;
            margin-top: 5rem;
            margin-bottom: 5rem;
            margin-left: auto;
            margin-right: auto;
            border: 2px solid #4E464C;
            img {
                max-width: 100px;
            }
        }

@media (min-width: 720px) {
    .array_ranked_items{
        img {
            max-width: 128px;
        }
    }
    .ranked_items{
        img {
            max-width: 128px;
        }
    }
}


.select_before_after {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

/* ---------- PAGE CREATE TL ---------- */

.div_input_titre_tl {
    padding: 2rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(30px, auto);
    max-width: 1200px;
    margin: auto;
}

.input_titre_tl {
    grid-column: 1/7;
    width: 100%;
    height: 2rem;   
}

.div_input_image_pres {
    grid-column: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_add_image_pres {
    grid-column: 8;
}

.div_create_lvl {
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 1200px;
}

.div_number_lvl {
    display: flex;
    justify-content: space-between;
}

.div_list_lvl {
    padding-top: 3rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(30px, auto);
    border: 2px solid #4E464C;
    padding: 1rem;
    margin-top: 2rem;
}

.item_name_rank {
    grid-column: 1/7;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    input {
        width: 100%;
    }
}

.item_settings_rank {
    grid-column: 7;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.item_trash_rank {
    grid-column: 8;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.div_images_create {
    padding-top: 3rem;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 1200px;
    border: 2px solid #4E464C;
}

.div_add_images {
    display: flex;
    justify-content: center;
}

.div_images_added {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    img {
        max-width: 100px;
    }
}

@media (min-width: 720px) {
    .div_images_added {
        img {
            max-width: 128px;
        }
    }
}

/* ---------- VOLETS ---------- */

#volet {
    width: 250px;
    padding: 5px;
    background-color: #4E464C;
    position: relative;
    left: -270px; top: 20px;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    ul {
        list-style: none;
    }
    ul li a {
        color: white;
    }
}

#volet a.ouvrir {
    padding: 11px 25px;
    background:
            #666;
    color:
            #fff;
    text-decoration: none;
    position: absolute;
    right: -70px;
    top: 27px;

    /* quelques styles CSS3 */
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);

    border-radius: 0 0 8px 8px;
}
#volet:target {
    left: 0;
}
/*Quand le volet est afficher lien fermé est caché*/
#volet a.fermer {
    display: none;
    position: absolute;
    right: -68px;
    top: 28px;
    padding: 11px 25px;
    background: #666;
    color: #fff;
    text-decoration: none;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);

    border-radius: 0 0 8px 8px;
}

#volet_clos:target #volet {
    left: -270px;
}
#volet:target a.ouvrir {
    display: none;
}
#volet:target a.fermer {
    display: block;
}