body {
    background-color: gainsboro;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4E464C;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 10px;
}

footer {
    background-color: #4E464C;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------- ACCUEIL PAGE ---------- */

#main_acc {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#banniere_acc {
    padding-top: 5rem;
}

#sous_banniere_acc {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12rem;
    background-color: white;
}

#sous_banniere_acc div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#tendance {
    padding-top: 3rem;
    padding-bottom: 5rem;
    h2 {
        margin-left: 5rem;
    }
}

#banniere_tendance {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-evenly;
    button{
        display: flex;
        flex-direction: column;
        img {
            max-width: 100%;
            width: 28rem;
            height: 16rem;
        }
    }
}

/* ---------- SEARCH PAGE ---------- */

#list_tl_search {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding-bottom: 10rem;
    max-width: 100%;
    button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            max-width: 100%;
            width: 28rem;
            height: 16rem;
        }
    }
}

@media (min-width: 720px) {
  #list_tl_search { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1280px) {
  #list_tl_search { grid-template-columns: repeat(3, 1fr); }
}

#div_input_search {
    padding: 2rem;
    align-items: center;
}

#input_search {
    width: 100%;
    height: 2rem;
}