body {
    background-color: gainsboro;
    margin: 0;
    padding: 0;
}
.button_volet{
    margin-top: 80px;
}
header {
    background-color: #4E464C;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 10px;
}

nav ul li select {
    padding: 5px 10px;
}

footer {
    background-color: #4E464C;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------- ACCUEIL PAGE ---------- */

#main_acc {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#banniere_acc {
    padding-top: 5rem;
}

#sous_banniere_acc {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12rem;
    background-color: white;
}

#sous_banniere_acc div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#tendance {
    padding-top: 3rem;
    padding-bottom: 5rem;
    h2 {
        margin-left: 5rem;
    }
}

#banniere_tendance {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-evenly;
    button{
        display: flex;
        flex-direction: column;
        img {
            max-width: 100%;
            width: 28rem;
            height: 16rem;
        }
    }
}

/* ---------- SEARCH PAGE ---------- */

#list_tl_search {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding-bottom: 10rem;
    max-width: 100%;
    button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            max-width: 100%;
            width: 28rem;
            height: 16rem;
        }
    }
}

@media (min-width: 720px) {
  #list_tl_search { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1280px) {
  #list_tl_search { grid-template-columns: repeat(3, 1fr); }
}

#div_input_search {
    padding: 2rem;
    align-items: center;
}

#input_search {
    width: 100%;
    height: 2rem;
}

/* ---------- PAGE TIERLIST ---------- */

.display-tierlist {
    max-width: 1104px;
    margin: 0 auto;
    border-top: 2px solid #4E464C;
    border-left: 2px solid #4E464C;
    border-right: 2px solid #4E464C;
}

.tier-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(128px, auto);
}

.tier {
    grid-column: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    border-right: 2px solid #4E464C;
    border-bottom: 2px solid #4E464C;
}

.ranked_items{
    grid-column: 2/7;
    border-bottom: 2px solid #4E464C;
    img {
        max-width: 128px;
    }
}

.array_ranked_items{
            max-width: 1076px;
            margin-top: 5rem;
            margin-bottom: 5rem;
            margin-left: auto;
            margin-right: auto;
            border: 2px solid #4E464C;
            img {
                max-width: 128px;
            }
        }

.select_before_after {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}
#volet {
    width: 350px;
    padding: 5px;
    background: black; color: #fff;
    position: relative;
    left: -370px; top: 20px;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
#volet a.ouvrir {
    padding: 11px 25px;
    background:
            #666;
    color:
            #fff;
    text-decoration: none;
    position: absolute;
    right: -70px;
    top: 27px;

    /* quelques styles CSS3 */
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);

    border-radius: 0 0 8px 8px;
}
#volet:target {
    left: 0;
}
/*Quand le volet est afficher lien fermé est caché*/
#volet a.fermer {
    display: none;
    position: absolute;
    right: -68px;
    top: 28px;
    padding: 11px 25px;
    background: #666;
    color: #fff;
    text-decoration: none;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);

    border-radius: 0 0 8px 8px;
}

#volet_clos:target #volet {
    left: -370px;
}
#volet:target a.ouvrir {
    display: none;
}
#volet:target a.fermer {
    display: block;
}
/*------CREATE PAGE------*/
button{
    font-size: 6px;
    margin: 10px;
}
.ajout_image{
    width:20vw;
    height:15vw;
    font-size: 15px;
}
.ajouter_cat{
    width:100px;
    height:40px;
    font-size: 15px;
    margin-left: 20px;
}
#input_titre{
    width: 20vw;
    height: 20px;
    padding:6px;
    margin-bottom: 20px;
    margin-left: 20px;
}
h2{
    margin-top:30px;
    margin-left: 30px;
}
h1{
    margin-left: 30px;
}