body {
    background-color: gainsboro;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4E464C;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 10px;
}

footer {
    background-color: #4E464C;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_acc {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#banniere_acc {
    padding-top: 5rem;
}

#sous_banniere_acc {
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 12rem;
    background-color: white;
}

#sous_banniere_acc div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}