#volet {
    width: 350px;
    padding: 5px;
    background:
            black; color: #fff;
}
#volet a.ouvrir {
    padding: 11px 25px;
    background:
            #666;
    color:
            #fff;
    text-decoration: none;
}
#volet {
    position: relative;
    left: -370px; top: 20px;
}
#volet a.ouvrir {
    position: absolute;
    right: -70px;
    top: 27px;

    /* quelques styles CSS3 */
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);

    border-radius: 0 0 8px 8px;
}
#volet {
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
#volet:target {
    left: 0;
}
/*Quand le volet est afficher lien fermé est caché*/
#volet a.fermer {
    display: none;
    position: absolute;
    right: -68px;
    top: 28px;
    padding: 11px 25px;
    background: #666;
    color: #fff;
    text-decoration: none;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);

    border-radius: 0 0 8px 8px;
}

#volet_clos:target #volet {
    left: -370px;
}
#volet:target a.ouvrir {
    display: none;
}
#volet:target a.fermer {
    display: block;
}
p{
    padding-top: 50px;
}
h1{
    margin:auto;
    text-align: center;
    width:fit-content;
    width:25vw;
    width:min(20rem,25vw);
    padding:10px;
    border: 4px solid black;
    background: linear-gradient(#7C15D6, #AC15D6, #D315D6);
    border-radius:20px;
    box-sizing: border-box;
    color: red;
}
.s{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 6px;
    border: 2px solid red;
    background-color: red;
    box-sizing: border-box;
    width:fit-content;
    border-radius: 5px;
}
.a{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    border: 2px solid orange;
    background-color: orange;
    box-sizing: border-box;
    width:fit-content;
    border-radius: 5px;
}
.b{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    border: 2px solid yellow;
    background-color: yellow;
    box-sizing: border-box;
    width:fit-content;
    border-radius: 5px;
}
.c{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    border: 2px solid green;
    background-color: green;
    box-sizing: border-box;
    width:fit-content;
    border-radius: 5px;
}
.d{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    border: 2px solid blue;
    background-color: blue;
    box-sizing: border-box;
    width:fit-content;
    border-radius: 5px;
}