#volet {
    width: 350px;
    padding: 5px;
    background:
            black; color: #fff;
}
#volet a.ouvrir {
    padding: 11px 25px;
    background:
            #666;
    color:
            #fff;
    text-decoration: none;
}
#volet {
    position: relative;
    left: -370px; top: 20px;
}
#volet a.ouvrir {
    position: absolute;
    right: -70px;
    top: 27px;

    /* quelques styles CSS3 */
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);

    border-radius: 0 0 8px 8px;
}
#volet {
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
#volet:target {
    left: 0;
}
#volet a.ouvrir,
#volet a.fermer {
    /* les styles donnés précédemment */
}
#volet a.fermer {
    display: none;
    position: absolute;
    right: -68px;
    top: 28px;
    padding: 11px 25px;
    background:
            #666;
    color:
            #fff;
    text-decoration: none;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);

    border-radius: 0 0 8px 8px;
}

#volet_clos:target #volet {
    left: -370px;
}
#volet:target a.ouvrir {
    display: none;
}
#volet:target a.fermer {
    display: block;
}
p{
    padding-top: 50px;
}